<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <script src="https://kit.fontawesome.com/e8b041c020.js"></script>

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">

</head>

<style>
  .my-container{
  }
  .my-row{
    height : 350px;
    border : 2px solid black;

  }
  .my-col{
    border : 2px solid black;
    height : 350px
    border :1px
  }
  p {
  font-size: 40px;
  }

  .my-class{
    padding : 30px;
  }
  .back{
    padding-left : 20px;
    padding-top : 10px
  }
  a {
    text-decoration: none;
    color: black;
}

</style>

<body class="bg-light">
  <div class="back">
  <a href="./index.html"><i class="fas fa-angle-left m-auto text-dark fa-3x"></i></a>
  </div>
  <!-- Icons Grid -->
  <div class="my-class bg-light text-center">
    <div class="container my-container">
      <div class="row my-row">
        <div class="col-6 my-col bg-secondary">
          <br><br>
            <div class="features-icons-icon mx-auto d-flex">
              <!-- <i class="icon-screen-desktop m-auto text-primary"></i> -->
              <i class="fas fa-sun m-auto text-warning fa-5x"></i>
            </div>
            <br>
            <br>
            <h1 class ="font-weight-bold">73 &#8451;</h1>
            <a href="./index.html"><h3>Berkeley</h3></a>

        </div>
        <div class="col-6 my-col">
          <br><br>
            <div class="features-icons-icon mx-auto d-flex">
              <!-- <i class="icon-screen-desktop m-auto text-primary"></i> -->
              <i class="fas fa-cloud m-auto text-info fa-5x"></i>
            </div>
            <br>
            <br>
            <h1 class ="font-weight-bold">45 &#8451;</h1>
            <a href="./newyork.html"><h3>New York</h3> </a>
        </div>
      </div>
      <div class="row my-row">
        <div class="col-6 my-col">
          <br><br>
            <div class="features-icons-icon mx-auto d-flex">
              <!-- <i class="icon-screen-desktop m-auto text-primary"></i> -->
              <i class="fas fa-cloud-showers-heavy m-auto text-info fa-5x"></i>
            </div>
            <br>
            <br>
            <h1 class ="font-weight-bold">73 &#8451;</h1>
            <h3>Los Angeles</h3><br><br>

        </div>
        <div class="col-6 my-col">
          <br><br><br><br><br>
            <div class="features-icons-icon mx-auto d-flex">
              <!-- <i class="icon-screen-desktop m-auto text-primary"></i> -->
              <i class="fas fa-plus-circle m-auto text-dark fa-5x"></i>
            </div>
        </div>
      </div>
      </div>
  </div>
  <div class = "bg-light">
    <h2><center>4 PM </center></h2>
  </div>



  <input type="range" class="custom-range" id="customRange1">





  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
