<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <script src="https://kit.fontawesome.com/e8b041c020.js"></script>

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">

</head>

<style>
  .my-container{
  }
  .my-row{
    height : 260px;
    margin-top: 30px;

  }
  .my-col{
    border : 2px solid black;
    height : 250px;
    line-height: 250px
  }

  .back{
    padding-left : 20px;
    padding-top : 10px
  }
  p {
  font-size: 40px;
}

</style>

<body class="bg-light">


  <div class="back">
  <a href="./index.html"><i class="fas fa-angle-left m-auto text-dark fa-3x"></i></a>
  </div><br><br>


  <!-- Icons Grid -->
  <div class="bg-light text-center">
    <div class="container my-container">
      <div class="row">
        <div class="col-sm-4">
            <div class="features-icons-icon mx-auto d-flex">
              <!-- <i class="icon-screen-desktop m-auto text-primary"></i> -->
              <i class="fas fa-bolt m-auto text-warning fa-7x"></i>
            </div>
            <h1 class="display-3 font-weight-bold">SEVERE STORMS IN</h1>
            <p class="lead mb-0 0 display-4">Berkeley</p>
            <br><br>
            <p>Ends at : 9pm </p><br>
            <h5>Please avoid Berkeley and Oakland especially downtown area. Stay indoors until the storm clears and be safe!</h5><br><br>
            <a href = "./index.html">Dismiss </a>
        </div>
      </div>

      </div>
  </div>
  <br><br>



  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
